.home-body {
    margin-bottom: 18vh;
}

.home-body h1 {
  font-size: 1.6rem;
}

.ex-information {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2vh;
}

.ticket-type {
  padding: 5px 0 10px;
  border-bottom: 1px dotted #ec7020;
  letter-spacing: -10px;
  font-size: 1.2rem;
  position: relative;
  margin: 10px 0;
}

.home-body .ticket-type:last-child {
  border: 0;
}

.ticket-list-empty {
  color: #dfb65e;
  font-size: 10px;
  margin-top: 20px;
}

.ticket-cover,
.ticket-inf,
.ticket-num {
  display: inline-block;
  height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
}

.ticket-cover {
  width: 35%;
  height: 8vh;
  display: inline-block;
  line-height: 8vh;
}

.ticket-cover img {
  object-fit: cover;
  width: 100%;
  height: 8vh;
  display: inline-block;
  line-height: 8vh;
}

.ticket-inf {
  width: 25%;
  margin: 0 5%;
}

.ticket-num {
  width: 30%;
  height: 8vh;
  line-height: 8vh;
  text-align: right;
}

.ticket-num-value {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  line-height: 7vh;
  width: 30%;
  min-width: 24px;
  text-align: center;
}

.ticket-num-value span {
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 20px;
  vertical-align: sub;
}

.ticket-num-min,
.ticket-num-min-vip {
  display: inline-block;
  width: 20px;
  height: 100%;
  background: url(/ticket/images/min.png) no-repeat 50% 50%;
  background-size: 10px 10px;
}

.ticket-num-max,
.ticket-num-max-vip {
  display: inline-block;
  width: 20px;
  height: 100%;
  background: url(/ticket/images/max.png) no-repeat 50% 50%;
  background-size: 10px 10px;
}

.ticket-empty {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
}

.ticket-empty-inf {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
}

.ticket-empty-inf a { 
  color: #dfb65e;
}

footer {
  letter-spacing: -10px;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0 5%;
  background-color: #f3f3f3;
  width: 90%;
  padding-bottom: 5vh;
}

footer span {
  display: inline-block;
  margin-top: 5vh;
  width: 45%;
  height: 6vh;
  line-height: 6vh;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
  letter-spacing: 0px;
}

footer span:first-child {
  margin-right: 10%;
}
