.insider-body h1 {
    font-size: 1.6rem;
}

.phone, .code {
	margin-top: 15px;
    width: 100%;
    height: 40px;
    padding: 8px 10px;
    line-height: 24px;
    background-color: #ffffff;
    letter-spacing: -10px;
}

.phone input, .code input {
	outline: none;
	letter-spacing: 0px;
	height: 100%;
	vertical-align: middle;
	border: 0;
}

.phone input {
	width: 90%;
}

.code-form {
	width: 80%;
	display: inline-block;
	height: 100%;
    text-align: left;
}

.code input {
	width: 80%;
}

.phone span, .code span {
	display: inline-block;
	width: 10%;
	letter-spacing: 0px;
	height: 100%;
	vertical-align: middle;
}

.phone span {
	background: url('/ticket/images/ico_phone.png') no-repeat 0% 50%;
	background-size: contain;
	min-width: 20px;
}

.code span {
	text-align: center;
	color: #ffffff;
	border-radius: 5px;
	min-width: 40px;
    font-size: 1.2rem;
}

.code i {
	background: url('/ticket/images/ico_close.png') no-repeat 50% 50%;
	background-size: contain;
    width: 5%;
    margin-right: 5%;
    height: 100%;
    vertical-align: middle;
    min-width: 10px;
	display: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #a0a0a0;
}

.err-verify {
	font-size: 1.2rem;
	text-align: left;
	margin-top: 10px;
    visibility: hidden;
    padding-left: 10px;
}

.verify {
	display: inline-block;
    margin-top: 30px;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
}