.count-body {
	margin-top:20px;
}

table, tbody, tr {
	display: inline-block;
	width: 100%;
	letter-spacing: -10px;
}

th, td {
	letter-spacing: 0;
}

th {
    font-size: 14px;
    font-weight: bold;
}

.count-total th, .count-total td {
	width: 50%;
	display: inline-block;
	text-align:center;
}

.count-total-title, .count-day-title {
	padding-bottom: 3px;
	border-bottom: 1px solid #cccccc;
}

.count-day p{
    margin-top: 50px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.count-list {
	margin-top: 20px;
	margin-bottom: 30px;
}

.count-list th, .count-list td {
	width: 33.33%;
	display: inline-block;
	text-align:center;
}


.count-day-data {
	padding: 10px 0;
}

.count-day-data:nth-child(even) {
	background-color: #eeeeee;
}