body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

legend {
  display: none;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

a {
  transition: all 0.2 ease;
}

legend {
  display: none;
}

html {
  margin: 0 5%;
}
html,
body {
  font-family: "Hiragino Sans GB", Helvetica, Tahoma, Arial, STXihei, "华文细黑",
    "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  font-size: 1.4rem;
  color: #333333;
  /* background: url("../images/bg-img.png") no-repeat 50% 50%; */
  background-color: #f3f3f3;
  background-size: cover;
  overflow-y: auto;
  overflow-x: hidden;

  height: 100vh;
  position: relative;
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  padding: 5vh 0 0 0;
}

/* 定义公共样式 */

/*text color*/

.black {
  color: #333333;
}

.dark-black {
  color: #a0a0a0;
}

.orange {
  color: #ec7020 !important;
}

.yellow {
  color: #dfb65e;
}

.browen {
  color: #a94a16;
}

/* background color*/

.disabled-bgc {
  background-color: #b5b5b5;
}

.submit-bgc {
  background-color: #dfb65e;
}

.orange-bgc {
  background-color: #ec7020;
}
.yellow-bgc {
  background-color: #dfb65e;
}

/* content */

header {
  height: 25vh;
  width: 100%;
  margin-bottom: 25px;
  min-height: 140px;
  background: url("../images/activity-cover.png") no-repeat 50% 50%;
  background-size: auto 80%;
}

footer {
  width: 100%;
  margin-bottom: 25px;
}

.content {
  width: 100%;
  text-align: center;
  padding: 15px 10px;
  background-color: #fff;
  border-radius: 5px;
}

/* alert */

.alert-body {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  display: none;
}

.alert-content {
  position: absolute;
  width: 70%;
  margin: 0 15%;
  height: 100px;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  line-height: 100px;
  text-align: center;
  display: none;
  font-size: 1.6rem;
}

.button {
  padding: 5px 10px;
}
