<div class="alert-body" onclick="Alert._cancelSHowAlert()">
</div>
<div class="alert-content">
	<p class="orange"></p>
</div>
<script>
var Alert = {
	_setAlertText : function (text) {
		$('.alert-content p').text(text)
	},

	_showAlert : function () {
		$('.alert-body').show();
		$('.alert-content').show();
	},

	_cancelSHowAlert : function () {
		$('.alert-body').hide();
		$('.alert-content').hide();
	}	
}
</script>