.order-body {
	margin-top:50px;
}

.verify-order-number {
	display: inline-block;
    margin-top: 5vh;
    width: 100%;
    height: 6vh;
    line-height: 6vh;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
}

.order-body h1 {
	padding: 10px 0 20px;
}

.order-body input {
    margin-bottom: 30px;
}

#order-number {
  	height: 30px;
    width: 100%;
    letter-spacing: 1.17rem;
    background-size: 100% 100%;
    border: 0;
    outline: 0;
    padding-left: 7px;
}