
.ticket-type {
  padding: 10px 0;
  border-bottom: 1px dotted #dfb65e;
  letter-spacing: -10px;
  font-size: 1.2rem;
}

.ticket-cover,
.ticket-inf,
.ticket-num {
  display: inline-block;
  height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
}

.ticket-cover {
  width: 45%;
}

.ticket-cover img {
  width: 100%;
  height: 8vh;
  display: inline-block;
  line-height: 8vh;
  object-fit: cover;
}

.ticket-inf {
  width: 25%;
  margin: 0 2.5%;
}

.ticket-num {
  width: 25%;
  height: 8vh;
  line-height: 8vh;
  text-align: right;
  padding-right: 10px;
}

.sign-num {
  background: url("/ticket/images/ico_close.png") no-repeat 50% 50%;
  background-size: contain;
  display: inline-block;
  width: 15%;
  height: 100%;
  vertical-align: bottom;
  margin-right: 12%;
}

.ticket-num-count {
  display: inline-block;
  height: 100%;
  letter-spacing: 2px;
}

.total-count {
  text-align: right;
  margin: 3vh 10px 0 0;
}

.total-count span {
  padding: 0 5px;
}

.order-alert {
  color: #dfb65e;
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 20vh;
}

footer {
  letter-spacing: -10px;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0 5%;
  background-color: #f3f3f3;
  width: 90%;
  padding-bottom: 5vh;
}

footer span {
  display: inline-block;
  margin-top: 5vh;
  width: 44%;
  height: 6vh;
  line-height: 6vh;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
  letter-spacing: 0px;
  font-size: 16px;
}

footer span:first-child {
  margin-right: 10%;
}
