.order-list {
  text-align: right;
}

.order-list a {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  /* font-size: 1rem; */
  font-size: 14px;
}

.activity-content {
  margin-bottom: 50px;
}

.activity-title {
  /* margin-top: 10px; */
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.activity-list-item a {
  display: block;
}
.activity-list-item a:visited,
.activity-list-item a:active,
.activity-list-item a:link {
  color: #424242;
}

.activity-list-item {
  margin: 10px 0;
  padding: 5px;
}

.activity-item-cover {
  width: 33%;
  height: 7rem;
  background-color: #3a444a;
  display: inline-block;
  margin-right: 3%;
  vertical-align: top;
}

.activity-item-detail {
  display: inline-block;
  width: 62%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 62%;
  position: relative;
  height: 7rem;
}

.activity-detail-title {
  font-size: 16px;
  margin-bottom: 10px;
}

.activity-detail-date {
  font-size: 12px;
  position: absolute;
  bottom: 0px;
  color: #ccc;
}
