.pay-status {
  text-align: right;
}

.pay-status span {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  /* font-size: 1rem; */
  font-size: 14px;
}

.order {
  padding-bottom: 20px;
  border-bottom: 1px dotted #ec7020;
  margin-top: 20px;
}

.order:last-child {
  border: 0;
  padding-bottom: 0;
}

.order:first-child {
  margin-top: 0;
}

.order-type {
  margin-top: 10px;
  text-align: left;
  font-size: 14px;
  font-weight: light;
}

.order-cost {
  font-size: 1.6rem;
  text-align: left;
  position: relative;
}

.order-time {
  text-align: right;
  font-size: 12px;
  color: #ccc;
}

.order-cost p {
  font-size: 18px;
}
.order-cost span {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px 10px;
  color: #ffffff;
  border-radius: 5px;
  /* font-size: 1.2rem; */
  font-size: 14px;
}

.order-empty {
  color: #dfb65e;
  font-size: 10px;
  margin-top: 5px;
}

footer span {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
  letter-spacing: 0px;
}
