.exchnage-body h1 {
	font-size: 1.6rem;
}

.ticket-list {
	margin-top: 20px;
}

.ticket-empty{
    font-size: 1.2rem;
}

.exchange-button {
	display: inline-block;
    margin-top: 5vh;
    width: 100%;
    height: 6vh;
    line-height: 6vh;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
}

.checkbox {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #000000;
    border-radius: 20px;
    vertical-align: middle;
    margin: 2px 3px;
}

.ticket-ckecked {
    background: url('/ticket/images/checked.png') no-repeat 50% 50%;
    background-size: cover;
    width: 13px;
    height: 13px;
    border: none !important;
}

.exchange-alert {
    color: #ec7020;
    font-size: 10px;
    margin-top: 5px;
}