.success-body {
    margin-top: -3vh;
}

.success-body h1{
	font-size: 1.4rem;
}

.success-order-code h1 {
	margin: 10px 0 15px;
}

.success-order-detail h1 {
	margin: 10px 0;
}

.success-order-code {
    padding-bottom: 15px;
    border-bottom: 1px dotted #ec7020;
}

.success-order-code p{
	font-size: 1.2rem;
    margin-top: 15px;
}

.qrcode {
	height: 20vh;
	width: 100%;
	text-align: center;
}

.qrcode img {
	height: 100%;
	width: initial;
}

.success-order-detail p {
	font-size: 1.2rem;
	line-height: 1.6rem;
}

.success-order {
	margin-top: 5vh;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #ffffff;
    height: 6vh;
    line-height: 6vh;
    border-radius: 5px;
}