.phone-body {
	margin-top:50px;
    letter-spacing: -10px;
}

.verify-phone-number {
	display: inline-block;
    margin-top: 5vh;
    width: 100%;
    height: 6vh;
    line-height: 6vh;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
}

.phone-body h1 {
    letter-spacing: 0px;
	padding: 10px 0 20px;
}

.phone-body input {
    margin-bottom: 30px;
}

#phone-number {
  	height: 30px;
    width: 100%;
    letter-spacing: 1.17rem;
    outline: 0;
    border: 0;
}

.order-list {
    margin: 50px 0;
    display: none;
}

.order {
    padding-bottom: 20px;
    border-bottom: 1px dotted #ec7020;
    margin-top: 20px;
}

.order:last-child {
    border: 0;
    padding-bottom: 0;
}

.order:first-child {
    margin-top: 0;
}


.order-type{
    margin-top: 10px;
    text-align: left;
}

.order-cost {
    font-size: 1.6rem;
    text-align: left;
    position: relative;
}

.order-time {
    text-align: right;
}

.order-cost span{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2px 5px;
    color: #ffffff;
    border-radius: 5px;
    font-size: 1.2rem;
}
