.verify-type-body {
	margin-top:20px;
}

.verify-type-button {
	display: inline-block;
	width: 100%;
	height: 6vh;
	line-height:6vh;
	text-align: center;
	margin-top:20px;
	color: #ffffff;
	border-radius: 5px;
}

.total-count {
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
}